<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>krooz</title>
</head>
<body>
    <h1>KROOZER</h1>
    <div class="KROOZ">
      <form
        id="uploadForm"
        action="/"
        method="post"
        enctype="multipart/form-data"
      >
        <input id="fileInput" type="file" name="file" />
        <input type="text" name="text-val">
        <input type="number" name="num-val">
        <input type="submit" value="rm" />
      </form>
    </div>
</body>
</html>